  /* External CSS */
        h1{
            color:black
        }
        h2{
            color:blueviolet
        }
        .heading{=
            color:blue
        }
        #h3{
            color:brown
        }
        *{
            color:rgb(255, 174, 0)  
        }
        div {
            color:rgb(19, 179, 59)
        }
        div .k{
            color:black
        }
        p,pre{  /* grouping selector */
            color:rgb(204, 121, 201)
        }

    
    .container {
      display: flex;                
      flex-direction: row;          
      flex-wrap: wrap;               
      justify-content: space-between;
      align-items: center;           
      align-content: space-around;  
      gap: 15px;                     

      height: 300px;
      padding: 20px; 
      border: 2px solid #333;
      background-color: #f4f4f4;
    }

    .item {
      background-color: #4CAF50;
      color: white;
      padding: 20px;
      font-size: 18px;
      text-align: center;

      flex-grow: 1;    
      flex-shrink: 1;  
      flex-basis: 150px;
      border-radius: 5px;
    } 

    .item1 {
      order: 2;         
    }

    .item2 {
      order: 1;
      flex: 2;         
    }

    .item3 {
      align-self: flex-end; 
    }
  