.box{
    display:flex;
    align-items: center;
    justify-content: center;
  width: 50vh;
  height: 50vh;
  background: red;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    border:2px solid green;
     margin: 20px;
    /* padding: 200px;  */
    padding:5px;
}